body {
  font-family: monospace;
  font-weight: bold;
  height: 100vh;
  width: 100vw;
  background-size: 150% 150%;
  background: linear-gradient(145deg, rgba(80, 60, 250, 1) 0%, rgba(250, 80, 140, 1) 100%) fixed;
  overflow: hidden;
  position: fixed;
  animation: backgroundAnimation 10s ease infinite;
}

@keyframes backgroundAnimation {
  0% {background-position: 0 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0 50%;}
}

h1 {
  font-size: 4vw;
  position: absolute;
  top: 40%;
  left: 50%;
  color: transparent;
  user-select: none;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 10;
}

h2 {
  font-size: 2vw;
  position: absolute;
  top: 0;
  left: 2%;
}

.poster::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  overflow: hidden;
  border-right: 1px solid black;
  white-space: nowrap;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.poster-animation-0::before {
  animation-name: poster-animation-0;
  animation-timing-function: steps(13);
}
@keyframes poster-animation-0 {
  0% {
    width: 0;
    border-right: 1px solid black;
  }
  13% {
    width: 100%;
  }
  18% {
    width: 100%;
  }
  24.5% {
    width: 0;
    border-right: 1px solid black;
  }
  24.51% {
    border-right: 0 solid black;
  }
  100% {
    width: 0;
    border-right: 0 solid black;
  }
}

.poster-animation-1::before {
  animation-name: poster-animation-1;
  animation-timing-function: steps(13);
}
@keyframes poster-animation-1 {
  0% {
    width: 0;
    border-right: 0 solid black;
  }
  24.5% {
    width: 0;
    border-right: 0 solid black;
  }
  24.51% {
    border-right: 1px solid black;
  }
  37.5% {
    width: 100%;
  }
  42.5% {
    width: 100%;
  }
  49% {
    width: 0;
    border-right: 1px solid black;
  }
  49.01% {
    border-right: 0 solid black;
  }
  100% {
    width: 0;
    border-right: 0 solid black;
  }
}

.poster-animation-2::before {
  animation-name: poster-animation-2;
  animation-timing-function: steps(19);
}
@keyframes poster-animation-2 {
  0% {
    width: 0;
    border-right: 0 solid black;
  }
  49% {
    width: 0;
    border-right: 0 solid black;
  }
  49.01% {
    border-right: 1px solid black;
  }
  68% {
    width: 100%;
  }
  73% {
    width: 100%;
  }
  82.5% {
    width: 0;
    border-right: 1px solid black;
  }
  82.51% {
    border-right: 0 solid black;
  }
  100% {
    width: 0;
    border-right: 0 solid black;
  }
}

.poster-animation-3::before {
  animation-name: poster-animation-3;
  animation-timing-function: steps(8);
}

@keyframes poster-animation-3 {
  0% {
    width: 0;
    border-right: 0 solid black;
  }
  82.5% {
    width: 0;
    border-right: 0 solid black;
  }
  82.51% {
    border-right: 1px solid black;
  }
  90.5% {
    width: 100%;
  }
  96% {
    width: 100%;
  }
  100% {
    width: 0;
    border-right: 1px solid black;
  }
}

.download {
  all: unset;
  cursor: pointer;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(cv.svg);
}

.github {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-150%, 50%);
  background-image: url(github.png);
  background-size: contain;
}

.emoji {
  font-size: 8vw;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-100%, -50%);
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.emoji-animation-leftright {
  top: 100%;
  left: 0;
  animation: leftright 20s 0s linear infinite;
}
@keyframes leftright {
  0% {visibility: hidden; transform: translateX(-100%)}
  90% {visibility: hidden; transform: translateX(-100%)}
  100% {visibility: visible; transform: translateX(100vw)}
}
.emoji-animation-updown {
  animation: updown 0.5s 0s ease-in infinite alternate;
}
@keyframes updown {
  0% {transform: scale(1,1) translateY(-630px);}
  89% {transform: scale(0.95,1.10) translateY(-200px);}
  100% {transform: scale(1.1, 0.95) translateY(-100px);}
}
.emoji-animation-rotate {
  height: 100px;
  animation: rotate 1s -0.5s cubic-bezier(.34,.56,.88,.91) infinite;
}
@keyframes rotate {
  to {transform: rotate(2turn);}
}
